.homeOuter {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* padding: 10px;
    margin: 10px; */
}

#temp {
    padding: 2%;
    width: fit-content;
    height: fit-content;

}


.homeInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.reimbursementButton {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-width: 170px;
    height: fit-content;
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
   
}

@media only screen and (max-width: 500px) {
    .homeOuter {
        flex-direction: column;
        align-items: center;

    }
    
    
    
}