.userview {
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 170px;
    height: fit-content;
    width: fit-content;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
}